# Ansible全体の基本設定。
[defaults]

# デフォルトで使用するInventoryファイル。
# これを指定しておくと、ansible / ansible-playbook 実行時に
# 毎回 -i inventory/hosts.ini を指定しなくてもよい。
inventory = inventory/hosts.ini

# SSH接続時のHost Key確認を無効化する。
# 学習環境ではEC2を作り直すたびにHost Keyが変わるためFalseにしている。
# 本番環境ではTrueにするか、known_hostsを適切に管理する。
host_key_checking = False

# SSH接続やAnsible処理のタイムアウト秒数。
# Rubyビルドなど時間がかかる処理があるため、少し長めに設定する。
timeout = 60


# SSH接続に関する設定。
[ssh_connection]

# SSH接続時に利用するオプション。
#
# ControlMaster=auto:
#   同じホストへのSSH接続を使い回す。
#
# ControlPersist=600s:
#   SSH接続をバックグラウンドで600秒間維持する。
#   Ansibleは短時間に何度もSSH接続するため、接続を再利用すると安定しやすい。
#
# ServerAliveInterval=30:
#   30秒ごとにSSHの生存確認パケットを送る。
#
# ServerAliveCountMax=10:
#   生存確認に10回失敗するまで接続を維持する。
#   Rubyのビルドなど長時間処理でSSHが切れにくくなる。
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ServerAliveInterval=30 -o ServerAliveCountMax=10

# SSH接続時の処理を効率化する。
# sudoを多用するPlaybookで高速化が期待できる。
# 一部環境ではsudo設定との相性が出る場合があるが、今回のAmazon Linux 2023では利用する。
pipelining = True

